/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #252525;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #5140e4;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2A73CC;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.course {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    vertical-align: top;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
